[submodule "OpenArknightsFBS"]
	path = OpenArknightsFBS
	url = https://github.com/MooncellWiki/OpenArknightsFBS.git
[submodule "ArknightsGameData_YoStar"]
	path = ArknightsGameData_YoStar
	url = https://github.com/Kengxxiao/ArknightsGameData_YoStar.git
[submodule "ArknightsGameData"]
	path = ArknightsGameData
	url = https://github.com/Kengxxiao/ArknightsGameData.git
