<% macro render_reward(reward) %><% if reward.count is none %><< reward.name >><% else %>{{材料消耗|<< reward.name >>|<< reward.count >>}}<% endif %><% endmacro %>
<% macro render_rewards(rewards) %><% for reward in rewards %><% if not loop.first %> <% endif %><< render_reward(reward) >><% endfor %><% endmacro %>
<% macro render_medal(medal) %>
{{蚀刻章
<% if medal.group %>
|套组=<< medal.group >>
<% endif %>
|名称=<< medal.name >>
|稀有度=<< medal.rarity >>
|描述=<< medal.description >>
|获得方式=<< medal.get_method >>
<% if medal.has_advanced %>
|镀层方式=<< medal.advance_method >>
<% endif %>
<% if medal.rewards %>
|奖励=<< render_rewards(medal.rewards) >>
<% endif %>
}}<% endmacro %>
